body{
	background:url('https://images.unsplash.com/photo-1457994905840-b4168627dfd5?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1080&h=720&q=80');
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
}

html{
	height: 100%;
}

h1{
	font-weight: 700;
	font-size: 5em;
}

#content{
	padding-top: 25%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
					0px 18px 23px rgba(0,0,0,0.1);
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}