<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
	
		<div class="ui fixed inverted menu">
				<div class="ui container">
					<div class="header item"><i class="comments icon"></i>Blog Site</div>
					<a href="/" class="item">Home</a>
					<a href="/blogs/new" class="item">New Post</a>
				</div>
		</div>