body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left; /*lines the boxes up next to each other*/
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	color: white;
	line-height: 1.1;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay{
	font-size: 200%;
}

#message{
	display: inline-block;
	width: 20%;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
}

.selected{
	color: white;
	background: steelblue;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	outline: none;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	--moz-transition: all 0.3s;
}

button:hover{
	color: white;
	background: steelblue;
}	