<% include ./partials/header %>

<div class="ui main text container">

	<div class="ui huge header"><%= blog.title %></div>

	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image %>"></img>
			<div class="content">
				<span><%= blog.created.toDateString() %></span>

			</div>
			<div class="description">
				<p><%- blog.body%></p>	<!--What the - does is it takes blog.body and evaluates it as code-->			
			</div>
		</div>
	</div>

</div>

<% include ./partials/footer %>