<h1>Friends Page</h1>

<%
friends.forEach(function(friend){
%>
	<li><%=friend%></li>
<%
});
%>

<form action="/addFriend" method="POST">
	<input type="text" placeholder="Name" name="newFriend">
	<!--"name" is the key look it up by inside the route-->
	<button>I made a new friend!</button>
</form>