body{
	border: 15px solid gray;
	width: 80%;
	max-width: 700px;
	margin: 20px auto;
	padding: 20px;
	font-family: "Source Sans Pro";
}

.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: 900;
}

h2{
	color: #2c3e50;
	font-size: 2rem;
}


hr{
	height: 1px;
	border: 0;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(100,100,100,1), rgba(0,0,0,0));
}

.first-p{
	border-left: 4px solid gray;
	padding-left: 5px;
}